#CartDrawerCustom .cart-drawer__items {
  height: 90vh;
  overflow: scroll;
}

.product__main {

}

.cart-item cart-remove-button,
.cart-item .cart-remove-button {
  display: flex;
  margin-left: 1rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .cart-item .cart-remove-button {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.cart-remove-button .button {
  min-width: calc(4.5rem / var(--font-body-scale));
  min-height: 4.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}

.cart-remove-button .button:before,
.cart-remove-button .button:after {
  content: none;
}

.cart-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  .cart-remove-button .button {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

.cart-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.cart-item .cart-remove-button {
  margin: 0.5rem 0 0 1.5rem;
}

.cart-item__error {
  color: red;
}
